---
import type { CollectionEntry } from 'astro:content';

import BaseLayout from './BaseLayout.astro';
import ArticleHeader from '../components/ArticleHeader.astro';

import siteConfig from '../config/siteconfig.ts';

interface Props {
    article: CollectionEntry<'articles'>;
    minutesRead: string;
}

const { article, minutesRead } = Astro.props;

const branch = article.data.git?.branch
    ? `tree/${article.data.git?.branch}`
    : '';
---

<BaseLayout
    pageTitle={article.data.title}
    pageDescription={article.data.description}
    pageImage={article.data.featuredimage?.src.src}
    pageUrl={`${siteConfig.blogPostPath}/${article.slug}`}
    publishedDate={article.data.publishedDate}
    articleTags={article.data.tags}
>
    <ArticleHeader article={article} />
    <div class="py-8 sm:py-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <span>
                 {
                    new Date(article.data.publishedDate).toLocaleDateString(
                        'en-US',{
                            day: "numeric",
                            month: "short",
                            year: "numeric",
                        }
                    )
                }
                | {minutesRead}
            </span>
            <p class="my-6 text-lg leading-8">
                {article.data.description}
            </p>
            {
                article.data.git?.repo && (
                    <>
                        <p>
                            <a href={`${article.data.git.repo}/${branch}`}>
                                <span class="font-bold">Github Repo:</span>{' '}
                                {article.data.git.repo}
                            </a>
                        </p>
                        <p>
                            <span class="font-bold">Github Branch:</span>{' '}
                            {article.data.git?.branch}
                        </p>
                    </>
                )
            }
            <div class="mt-10">
                <slot />
            </div>
        </div>
    </div>
</BaseLayout>
